parameters:
    earlyTerminatingFunctionCalls:
        - dd
        - dump

    earlyTerminatingMethodCalls:
        DecodeLabs\Glitch:
            - dumpDie
            - dumpValues
            - dumpException
            - incomplete

        DecodeLabs\Glitch\Proxy:
            - incomplete

